/* html.dark {
    
  
    .slidev-layout {
      color: #d0d0d0;
      background-color: black;
    }
  }

  html:not(.dark) {
    
    .lectureno {
      background-color: #e1e1e1;
      color: #000;
      opacity: 1;
    }
  } */