/* add an important override rule for all css on the page to show background in black color for the entire page */

/* body {
    background-color: black !important;
} */

code {
    font-size: 1.2em;
    line-height: 1.6em;
}